@model SimpleShop.ViewModels.SaleViewModel
@{
    ViewBag.Title = "SalePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Customer</label>
                <select class="form-control" name="CustomerId" id="SelectCategory">
                    <option value="0">Select</option>
                    @foreach (var customer in Model.AllCustomers)
                    {
                        <option value="@customer.Id">@customer.CustomerName</option>
                    }
                </select>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Product</label>
                <select class="form-control" name="ProductId" id="SelectProduct">
                    <option value="0">Select</option>
                    @foreach (var product in Model.AllProducts)
                    {
                        <option value="@product.Id">@product.ProductName</option>
                    }
                </select>

            </div>
        </div>
    </div>

</form>
<div id="finaldiv">
    <div>
        <form id="customerpage">
        </form>
    </div>
    <div>
        <form id="productpage">
        </form>
    </div>
</div>
<script>

    $("#SelectCategory").change(function () {
        $.ajax({
            type:"post",
            url: '@Url.Action("SaleSave", "Sale")',
            data: {

                customerId: $("#SelectCategory").val()
            }
        })
            .done(function (response) {
                $("#customerpage").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
    $("#SelectProduct").change(function () {
        $.ajax({
            type: "post",
            url: '@Url.Action("SaleProductSave", "Sale")',
            data: {

                productId: $("#SelectProduct").val(),
                customerId:$("#SelectCategory").val()
            }
        })
            .done(function (response) {
                $("#productpage").html(response);

            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
    @*$("#SelectCategory").on("change", function(){

        var url = '@Url.Action("CustomerInfo", "Sale")' + "?customerId="  + $(this).val();

        $("#customerpage").load(url, function(){
         console.log("It worked");

        })
    })*@
    
    function increment() {
        document.getElementById('demoInput').stepUp();
    }
    function decrement() {
        document.getElementById('demoInput').stepDown();
    }


       
        

        

    @* $("#saveBtn").click(function () {
        if ($("#createProduct").valid()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Product")',
                data: $("#createProduct").serialize()

            })
                .done(function (response) {
                    $("#tableContainer").html(response),
                        $("#actionTable").html("");
                    focusAction("tableContainer");
                })
                .fail(function (xmlHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
        }
        else {
            swal({
                title: "Warning",
                text: "Please enter all valid data in fields.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            });
        }
    });*@
</script>
